name: Tofu Apply

on:  # This workflow only triggers on pushes to main that have changes in ch5/lambda_test.
  push:
    branches: ["main"]
    paths: ["ch5/lambda_test/**"]

jobs:
  apply:
    name: "Tofu Apply"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write  # Give the workflow permissions to write a comment on the PR
      id-token: write
      contents: read
    steps:
    - uses: actions/checkout@v2

    - uses: aws-actions/configure-aws-credentials@v3
      with:
        role-to-assume: ${{ secrets.LAMBDA_RW_ROLE }}
        role-session-name: plan-${{ github.run_number }}-${{ github.actor }}
        aws-region: ap-southeast-2

    - uses: opentofu/setup-opentofu@v1

    - name: tofu apply
      id: apply
      working-directory: ch5/lambda_test
      # Lock timeout is 60m to account for e.g. a build from a previous push.
      run: |
        tofu init -no-color -input=false
        tofu apply -no-color -input=false -lock-timeout=60m -auto-approve

    - uses: jwalton/gh-find-current-pr@master
      id: find_pr
      with:
        state: all

    - uses: peter-evans/create-or-update-comment@v4
      if: steps.find_pr.outputs.number
      env:
        RESULT_EMOJI: ${{ steps.plan.outcome == 'success' && '✔' || '⚠️' }}
      with:
        issue-number: ${{ steps.find_pr.outputs.number }}
        body: |
          ## ${{ env.RESULT_EMOJI }} `tofu apply` output
          ```${{ steps.plan.outputs.stdout }}```
